<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<appSettings>

		<add key="USER_DATABASE_URL" value="sqlite:///./Data bases/users.db" />
		<add key="ADMIN_DATABASE_URL" value="sqlite:///./Data bases/admins.db" />
		<add key="QUEUE_DATABASE_URL" value="sqlite:///./Data bases/queue.db" />
		<add key="VACCINE_DATABASE_URL" value="sqlite:///./Data bases/vaccines.db" />

		
		<add key="SECRET_KEY" value="82c01ce15b431d420eb6a1febfba7d7a2b69e5bcdcb929cb42cd3e9179d43fc4" />
		<add key="ADMIN_SECRET_KEY" value="41e521adf8ae7a0f419ee06e1d9fb794162369237b46f64bf5b2b9969b0bcd2e" />
		<add key="ALGORITHM" value="HS256" />

		
		<add key="DATABASE_DIRECTORY" value="Data bases" />
		<add key="LOGS_DIRECTORY" value="logs" />
		<add key="TEMPLATES_DIRECTORY" value="templates" />

		
		<add key="USER_LOG_FILE" value="logs/users.log" />
		<add key="ADMIN_LOG_FILE" value="logs/admin.log" />
		<add key="QUEUE_LOG_FILE" value="logs/queue.log" />
		<add key="VACCINE_LOG_FILE" value="logs/vaccine.log" />

		
		<add key="USER_DB_FILE" value="Data bases/users.db" />
		<add key="ADMIN_DB_FILE" value="Data bases/admin.db" />
		<add key="QUEUE_DB_FILE" value="Data bases/queue.db" />
		<add key="VACCINE_DB_FILE" value="Data bases/vaccines.db" />

		
		<add key="SERVER_MAINTENANCE_MODE" value="false" />
		<add key="SERVER_QUARANTINE_MODE" value="false" />
		<add key="TOKEN_EXPIRE_MINUTES" value="15" />
		<add key="RECRIPTION_PROCESS" value="false" />
	</appSettings>
</configuration>